<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory >
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">postgresql://xllyqtckglwhth:377b05640c26e7ed816cd57c15d371a3836c715088a18e11ad62d9a9dd787fc6@ec2-44-199-26-122.compute-1.amazonaws.com:5432/d9codghc888l1q.gestionpedidoscrud</property>
    <property name="hibernate.connection.username">xllyqtckglwhth</property>
    <property name="hibernate.connection.password">377b05640c26e7ed816cd57c15d371a3836c715088a18e11ad62d9a9dd787fc6</property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
  </session-factory>
</hibernate-configuration>