body{
    background-color:#E3FFDD;
    text-align: center;
    color: #070707;
}
h1{text-align: center;
    color: #070707;}

table{
    color: #070707;
    width: 75%;
    text-align: center;
    margin: auto;

}
.table-striped{
    color: #070707;
    width: 75%;
    text-align: center;
    margin: auto;
}
.btn-lg{
    width: 50%;
    text-align: center;
    margin: auto;
}

.form-control{
    width: 50%;
    text-align: center;
    margin: auto;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
}
.page-item {
    float: left;

}
.panel-footer{
    text-align: center;
}
.hidetext { -webkit-text-security: disc; /* Default */ }

.container-logout{
    position: absolute; left: 20%; right: 20%; bottom: 2%
}

.HOME{
    position: absolute; left: 20%; right: 20%; bottom: 5%
}
.HOME2{
    position: absolute; left: 20%; right: 20%; bottom: 8%
}
th,td{
    border-color: black !important;
    border: 2px solid black;
    color: #070707;

}

.btn-primary{
    color: #070707;
    background-color: #06AED5;
}
.btn-secondary{
    color: #070707;
    background-color: #A599B5;
}
.btn-danger{
    color: #070707;
    background-color: #BF211E;
}
.btn-success{
    color: #070707;
    background-color: #688E26;
}
.display-1{
    color: #070707;
}